.jskab-calculator {
width: 500px;
margin: 0 auto;
text-align: center;
background-color: aquamarine;
padding: 20px;
border: 1px solid black;
}

.jskab-calculator .operations-block button {
    width: 40px;
    height: 40px;
    margin: 20px;
}

.jskab-calculator .inputs-block .input-block {
    display: inline-block;
    padding: 10px;
}

.jskab-calculator .inputs-block .input-block label{
    display: block;
}
.operations-block{
    color: black;
}
.jskab-calculator .javob{
    display: inline-block;
    padding: 10px;
    display: block;
}
.jov{
    display: block;
}